<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet"/>
  <link rel = "icon" href="/images/display_img/logo.jpg" type = "image/x-icon"/> 
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel='stylesheet' href="/css/login.css"/>
  <link rel='stylesheet' href="/css/index.css"/>
  <link rel="stylesheet" href="/vegas/vegas.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
  <script src="/scripts/forms.js"></script>  
  <script src="/scripts/getProfile.js"></script>  
  <script src="/scripts/index.js"></script> 
  <script src="/scripts/departments.js"></script>  
  <script src="/scripts/login.js"></script>  
  <script src="/scripts/adminLogin.js"></script>  
  <script src="/scripts/loader.js"></script>  
  <script src="/scripts/update.js"></script>  
  <script src="/scripts/jquery.js"></script>
  <script src="/vegas/vegas.min.js"></script> 
  <title><%= title %></title>
</head>
<style>
</style>
<body>
<div class="page-wrapper">
  <header class="">
    <div class='text-center'>
      <image width='150px' height='150px' src='/images/display_img/logo.jpg'/>
    </div>
    <hr size="10" width="70%" align="center" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><h4>CODMYC</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item register">
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all-workers">All Workers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/pastors">The Pastorate</a>
              <a class="dropdown-item" href="/departments?department=choir">Choir</a>
              <a class="dropdown-item" href="/departments?department=media">Media</a>
              <a class="dropdown-item" href="/departments?department=sunday school">Sunday School</a>
              <a class="dropdown-item" href="/departments?department=drama">Drama</a>
              <a class="dropdown-item" href="/departments?department=technical">Technical</a>
              <a class="dropdown-item" href="/departments?department=protocol">Protocol</a>
              <a class="dropdown-item" href="/departments?department=sanitation">Sanitation</a>
              <a class="dropdown-item" href="/departments?department=security">Security</a>
              <a class="dropdown-item" href="/departments?department=information">Information Bureau</a>
              <a class="dropdown-item" href="/departments?department=teens and children">Teens/Children</a>
              <a class="dropdown-item" href="/departments?department=prayer">Prayer</a>
              <a class="dropdown-item" href="/departments?department=ushering">Ushering</a>
              <a class="dropdown-item" href="/departments?department=welfare">Welfare</a>
              <a class="dropdown-item" href="/departments?department=sign">Sign Language</a>
            </div>
          </li>
          <li class="nav-item dashboard">
            
          </li>
          <li class="nav-item auth">
          </li>
          <li class="admin"></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <div class="container">