<%- include ('partials/header.ejs'); %>
  <div class="container">
    <div id='modal'></div>
    <% if (message != '') { %>
      <p class="text-center text-danger"><%= message %></p>
    <% } %>
    
    
    <div id="myNav" class="overlay_loader">
  
      <div class="overlay_loader_content">
        <img id="loader" src="/images/display_img/logo.jpg" alt="">
        <p>loading</p>
      </div>
    </div>
    
    <div id="" class="overlay_success">
  
      <div class="overlay_success_content text-center">
        <i class="fa fa-smile-o success" style="font-size:36px; margin-bottom: 10px; color: #43ee7c"></i>
        <p>Registration Successful</p>
        <button id="successOk" style="width: 50px; background-color: #bbb" class="btn">Ok</button>
      </div>
    </div>
    <form id="regForm" action="">
      <h4>Register here</h4>
      <!-- One "tab" for each step in the form: -->
      <!-- <div class="tab"><h5 style="margin-top: 20px;">Step 1:</h5>
        <p class="errorField" errorField="fname">error</p>
        <p><input placeholder="Full name..." class="required input" id="fname"></p>
        <p class="errorField" errorField="address">error</p>
        <p><input placeholder="Address..." class="required input" id="address"></p>
        <p class="errorField" errorField="phone">error</p>
        <p><input type="number" placeholder="Phone Number..." class="required input" id="phone" class="required"></p>
            <p class="errorField" errorField="dob">error</p>
        <p><input onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date of Birth..." class="required input" id="dob" class="required"></p>
            <p class="errorField" errorField="gender">gender</p>
        <p>
          <select id="gender" errorField="gender" class="required input">
              <option value="">Select Gender</option>
                 <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
        </p>
        <p>
          <p class="errorField" errorField="marital_status">Input Marital status</p>
          <select id="marital_status" errorField="marital_status" class="input required">
              <option value="">Select Marital Status</option>
                 <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="divorced">Divorced</option>
              <option value="widow(er)">Widow(er)</option>
            </select>
        </p>
        <p>
          <p class="errorField" errorField="education">Input Qualification</p>
          <select id="education" errorField="education" class="input required">
                <option value="">Select Education Qualification</option>
                <option value="PhD">PhD</option>
                <option value="Masters">Masters</option>
                <option value="PGD">PGD</option>
                <option value="Bachelor">Bachelor</option>
                <option value="HND">HND</option>
                <option value="OND">OND</option>
                <option value="NCE">NCE</option>
                <option value="Trade Certificate">Trade Certificate</option>
                <option value="SSCE">SSCE</option>
                <option value="BECE">BECE</option>
            </select>
        </p>
      </div>
      <div class="tab"><h5 style="margin-top: 20px;">Step 2:</h5>
        <p>
          <p class="errorField" errorField="water_baptism">Input Qualification</p>
          <select type="text" errorField="water_baptism" id="water_baptism" class="input required">
            <option value="">Water Baptism</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </p>
        <p>
          <p class="errorField" errorField="training">Check at least one Church training</p>
          <div errorField="training" id="training" class="training required input" data-training="trainings" data-type="checkbox">
            <label class="label">Church Training Obtained</label>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="believer" value="Believer's Class">
              <label class="custom-control-label" for="believer" >
                Believer's Class
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="baptC" value="Baptismal Class">
              <label class="custom-control-label" for="baptC">
                Baptismal Class
              </label>
            </div> 
            <div class="training input custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="workC" value="Workers-in-training">
              <label class="custom-control-label" for="workC">
                Workers-in-trainin
              </label>
            </div>
            <div class="training input custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="sodC" value="School of Disciples">
              <label class="custom-control-label" for="sodC">
                School of Disciples
              </label>
            </div>
            <div class="training input custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="bible" value="Bible College">
              <label class="custom-control-label" for="bible">
                Bible College
              </label>
            </div>
          </div>
        </p>
      </div>
      <div class="tab"><h5 style="margin-top: 20px;">Step 3:</h5>
        <p>
          <p class="errorField" errorField="departments">Check at least one Department</p>
          <div errorField="departments" id="department" class="departments required input" data-department="departments" data-type="checkbox">
            <label class="label">Department(s)</label>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="tech" value="Technical">
              <label class="custom-control-label" for="tech">
                Technical
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="san" value="Sanitation">
              <label class="custom-control-label" for="san">
                Sanitation
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="dra" value="Drama">
              <label class="custom-control-label" for="dra">
                Drama
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="cho" value="Choir">
              <label class="custom-control-label" for="cho">
                Choir
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="teen" value="Teens and Children">
              <label class="custom-control-label" for="teen">
                Teens/Children
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="sun" value="Sunday School">
              <label class="custom-control-label" for="sun">
                Sunday School
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="secu" value="Security">
              <label class="custom-control-label" for="secu">
                Security
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="prot" value="Protocol">
              <label class="custom-control-label" for="prot">
                Protocol
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="wel" value="Welfare">
              <label class="custom-control-label" for="wel">
                Welfare
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="info" value="Information Bureau">
              <label class="custom-control-label" for="info">
                Information Bureau
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="ush" value="Ushering">
              <label class="custom-control-label" for="ush">
                Ushering
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="med" value="Media">
              <label class="custom-control-label" for="med">
                Media
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="pray" value="Prayer">
              <label class="custom-control-label" for="pray">
                Prayer
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="sig" value="Sign Language">
              <label class="custom-control-label" for="sig">
                Sign Language
              </label>
            </div>
          </div>
        </p>
      </div>
      <div class="tab"> <h5 style="margin-top: 20px;">Step 4:</h5>
        <p class="">
          <select type="text" class="input" id="ordination">
            <option value="">Ordination Status</option>
            <option value="deacon">Deacon</option>
            <option value="asst_pastor">Assistant Pastor</option>
            <option value="pastor">Pastor</option>
          </select>
        </p>

        <p class="">
          <input 
            type="number"
            max="2021"
            min="1960"
            class="input" 
            id="last_ordained_year" 
            placeholder="Year Last Ordination">
        </p>

        <p class="">
          <p class="errorField" errorField="year_became_worker">Input a year</p>
          <input 
            errorField="year_became_worker"
            type="number"
            max="2021"
            min="1960"
            class="input required" 
            id="year_became_worker"
            placeholder="Year Became Worker *">
        </p>

        <p class="">
          <p class="errorField" errorField="year_joined_rccg">Input a year</p>
          <input 
            errorField="year_joined_rccg"
            type="number"
            max="2021"
            min="1960"
            class="input required" 
            id="year_joined_rccg" 
            placeholder="Year Joined RCCG *">
        </p>
        <div class="position-parent">
        <p >
          <p class="errorField" errorField="position">Select a position</p>
          <select id="position" errorField="position" type="text" class="input position required">
            <option value="">Current Position in Church</option>
            <option value="Worker">Worker</option>
            <option value="HOD">HOD</option>
            <option value="Minister">Minister</option>
            <option value="Pastorate">Pastorate</option>
          </select>
        </p>
        </div>

        <p class="">
          <textarea 
            class="input" 
            rows="9" 
            name="other" 
            id="other" 
            placeholder="Other Information"></textarea>
        </p>
      </div>-->

      <div class="tab"><h5 style="margin-top: 20px;">Step 5:</h5>
        <p class="errorField" errorField="email">Enter Email</p>
        <p><input class="input required" errorField="email" placeholder="Email..." id="email"></p>
        <p class="errorField" errorField="password">Enter password more than 6 digits</p>
        <p><input class="input required" errorField="password" placeholder="Password..." id="password" type="password"></p>
        <p class="errorField" errorField="confirm_password">Password do not match</p>
        <p><input class="input required" errorField="confirm_password" placeholder="Confirm Password..." id="confirm_password" type="password"></p>
      </div>
      <div class="tab"><h5 style="margin-top: 20px;">Step 6 Upload Pictures:</h5>
        <label>Upload Profile Picture</label>
        <p class="errorField" errorField="avatar">Profile picture not uploade or more than 1000kb</p>
        <p><input type="file" errorField="avatar" data-avatar="avatar" placeholder="Upload your Picture" id="avatar" class="input required"></p>
        <label>Upload Baptismal Certificate</label>
        <p class="errorField" errorField="bapt">Profile picture not uploade or more than 1000kb</p>
        <p><input type="file" errorField="bapt" data-bapt="bapt" placeholder="Upload Baptismal Certificate" id="bapt" class="input notRequired"></p>
        <label>Upload Workers' Certificate</label>
        <p class="errorField" errorField="worker">Profile picture not uploade or more than 1000kb</p>
        <p><input type="file" errorField="worker" data-worker="worker" placeholder="Upload Workers-in-training Certificate" id="worker" class="input notRequired"></p>
        <label>Upload SOD Certificate</label>
        <p class="errorField" errorField="sod">Profile picture not uploade or more than 1000kb</p>
        <p><input type="file" errorField="sod" data-sod="sod" placeholder="Upload SOD Certificate" id="sod" class="input notRequired"></p>
        <label>Upload Bible College Certificate</label>
        <p class="errorField" errorField="bibleCol">Profile picture not uploade or more than 1000kb</p>
        <p><input type="file" errorField="bibleCol" data-bibleCol="bibleCol" placeholder="Upload Bible College Certificate" id="bibleCol" class="input notRequired"></p>
      </div>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn">Previous</button>
          <button type="button" id="nextBtn">Next</button>
          <button type="button" id="submitBtn">Submit</button>
        </div>
      </div>
      <!-- Circles which indicates the steps of the form:-->
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </form>
    <hr />
    <div class="alert" style="font-weight: bolder;">
      
    </div>
  </div>
</div>
</body>
</html>
