<%- include ('partials/header.ejs'); %>
  <% let x = data[0];%>
  <div>
    <p style="visibility: hidden;" class="hiddenP"><%=x.id%></p>
    <h3 id='profileName' style="padding-top: 20px;" class="text-center">
    </h3>
    <div class='mainProfileBody'></div>
  </div>
  </div> 
</div>
</body>
</html>