<%- include ('partials/header.ejs'); %>
  <div class="container">
    <div id='modal'></div>
    <% if (message != '') { %>
      <p class="text-center text-danger"><%= message %></p>
    <% } %>
    
    
    <form style="padding-top: 20px;" class="add-player-form" action="" method="post" enctype="multipart/form-data">
      <div class="form-row">
        <div class="form-group col-md-4">
          <p class="error nameError"></p>
          <input type="text" class="form-control" name="u_name" placeholder="Full Name" required>
        </div>
        <div class="form-group col-md-4">
          <p class="error addressError"></p>
          <input type="text" class="form-control" name="u_address" placeholder="Address" required>
        </div>
        <div class="form-group col-md-4">
          <p class="error numberError"></p>
          <input type="number" class="form-control" name="u_number" placeholder="Phone Number" required>
        </div>
        <div class="form-group col-md-4">
          <p class="error emailError"></p>
          <input type="email" class="form-control" name="u_email" placeholder="Email" required>
        </div>
        <div class="form-group col-md-4">
          <p class="error passwordError"></p>
          <input type="password" class="form-control" name="u_password" placeholder="Password" required>
        </div>

        <div class="form-group col-md-4">
          <p class="error passwordConfirmError"></p>
          <input type="password" class="form-control" name="u_confirm_password" placeholder="Confirm Password" required>
        </div>

        <div class="form-group col-md-4">
          <p class="error dobError"></p>
          <input 
            onfocus="(this.type='date')" 
            onblur="(this.type='text')"
            class="form-control" 
            name="u_dob"
            placeholder="Date of Birth" required />
        </div>

        <!-----------------Gender------------------->
        
        <div class="form-group col-md-4">
          <p class="error genderError"></p>
          <select type="text" class="form-control" name="u_gender" required>
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <!-----------------Marital Status------------------->

        <div class="form-group col-md-4">
          <p class="error maritalError"></p>
          <select type="text" class="form-control" name="u_marital_status" required>
            <option value="">Marital Status</option>
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
            <option value="widow(er)">Widow(er)</option>
          </select>
        </div>
        
        <div class="form-group col-md-4">
          <p class="error educationError"></p>
          <select type="text" class="form-control" name="u_education" required>
            <option value="">Select Education Qualification</option>
            <option value="PhD">PhD</option>
            <option value="Masters">Masters</option>
            <option value="PGD">PGD</option>
            <option value="Bachelor">Bachelor</option>
            <option value="HND">HND</option>
            <option value="OND">OND</option>
            <option value="Trade Certificate">Trade Certificate</option>
            <option value="SSCE">SSCE</option>
            <option value="BECE">BECE</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <p class="error baptismError"></p>
          <select type="text" class="form-control" name="u_water_baptism" required>
            <option value="">Water Baptism</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <!-----------------Church Training----------------------->
        <p class="error trainingError"></p>
        <ul style="padding-left: 40px" class="training form-group col-md-4">
          <label class="label">Church Training Obtained</label>
          <li class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Believer's Class">Believer's Class
            </label>
          </li>
          <li class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Baptismal Class">Baptismal Class
            </label>
          </li>
          <li class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Workers-in-training">Workers-in-trainin
            </label>
          </li>
          <li class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="School of Disciples">School of Disciples
            </label>
          </li>
          <li class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Bible College">Bible College
            </label>
          </li>
        </ul>

        <!-----------------Departments----------------------->
        <p class="error departmentError"></p>
        <div style="padding-left: 40px" class="form-group departments col-md-4">
          <label class="label">Department(s)</label>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Technical">Technical
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Sanitation">Sanitation
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Drama">Drama
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Choir">Choir
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Sunday School">Sunday School
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Security">Security
            </label>
          </div>
        </div>
        <div style="padding-left: 40px" class="form-group departments col-md-4">
          <label style="visibility: hidden;"></label>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Protocol">Protocol
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Ushering">Ushering
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Media">Media
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Prayer">Prayer
            </label>
          </div>
          <div class="">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="Sign Language">Sign Language
            </label>
          </div>
        </div>

        <div class="form-group col-md-4">
          <p class="error ordinationStatusError"></p>
          <select type="text" class="form-control" name="u_ordination" required>
            <option value="">Ordination Status</option>
            <option value="deacon">Deacon</option>
            <option value="asst_pastor">Assistant Pastor</option>
            <option value="pastor">Pastor</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <p class="error oridinationYearError"></p>
          <input 
            type="number"
            max="2020"
            min="1960"
            class="form-control" 
            name="u_last_ordained_year" 
            placeholder="Year Last Ordination" required>
        </div>

        <div class="form-group col-md-4">
          <p class="error workerYearError"></p>
          <input 
            type="number"
            max="2020"
            min="1960"
            class="form-control" 
            name="u_year_became_worker" 
            placeholder="Year Became Worker" required>
        </div>

        <div class="form-group col-md-4">
          <p class="error rccgYearError"></p>
          <input 
            type="number"
            max="2020"
            min="1960"
            class="form-control" 
            name="u_year_joined_rccg" 
            placeholder="Year Joined RCCG" required>
        </div>

        <div class="form-group col-md-4 position-div">
          <p class="error positionError"></p>
          <select id="u_position-input" type="text" class="form-control" name="u_position" required>
            <option value="">Current Position in Church</option>
            <option value="Worker">Worker</option>
            <option value="HOD">HOD</option>
            <option value="Minister">Minister</option>
            <option value="Pastorate">Pastorate</option>
          </select>
        </div>

        <div class="form-group col-md-8">
          <textarea 
            class="form-control" 
            rows="9" 
            name="u_other" 
            id="other" 
            placeholder="Other Information"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3">
          <p class="error imageError"></p>
          <label for="player-img"><b>Upload photo</b></label><br>
          <input type="file" name="u_image" id="profile" class="image" required>
        </div>
        <div class="col-md-3">
          <p class="error imageError"></p>
          <label for="player-img"><b>Upload Baptismal Certificate</b></label><br>
          <input type="file" name="u_image" id="bapt" class="image" required>
        </div>
        <div class="col-md-3">
          <p class="error imageError"></p>
          <label for="player-img"><b>Upload Workers-in-training</b></label><br>
          <input type="file" name="u_image" id="wt" class="image" required>
        </div>
        <div class="col-md-3">
          <p class="error imageError"></p>
          <label for="player-img"><b>Upload SOD Certificate</b></label><br>
          <input type="file" name="u_image" id="sod" class="image" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <p class="error imageError"></p>
          <label for="player-img"><b>Upload Bible College</b></label><br>
          <input type="file" name="u_image" id="bc" class="image" required>
        </div>
        <div class="col-md-6">
          <button type="submit" id='update-form' class="btn btn-primary float-right">Update</button>
        </div>
      </div>
    </form>
    <hr />
    <div class="alert" style="font-weight: bolder;">
      
    </div>
  </div>
</div>
</body>
</html>
