@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body, html {
  height: 100%;
  /* font-family: 'Kufam', cursive; */
  font-family: 'Montserrat', sans-serif;
}
nav{
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}


.worship_text{
  padding-top: 100px;
  color: rgb(216, 221, 236);
}
.home_bg {
  font-style: italic;
  padding-top: 20px;
  background-image: url('/images/display_img/church.jpeg');
  opacity: 0.8;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.flex-container > div{
  background-color: #fff;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px #888888;
}
.flex-container-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.divider{
  background: #ddd;
  height: 2px
}
.flex-container-2 > div{
  background-color: #fff;
  width: 400px;
  margin: 0px 40px 30px 40px;
  text-align: center;
  line-height: 75px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px #888888;
}
.flex-container-2 > div > a >h5 {
  font-size: 20px !important;
}
.error{
  color: red;
  font-size: 10px;
}
.label{
  font-weight: bold;
}
a:link, a:visited{
  text-decoration: none;
  color: #444;
}
.picp_img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
a>h5{
  margin-top: 10px;
  font-size: 15px !important;
}
h4, h5{
  margin-top: 10px;
  font-size: 20px 
}
#department_header{
  font-size: 25px
}
.profile_img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.pastor_img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.hod_img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.table-div{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.indexTextContent{
  padding: 20px;
  text-align: justify;
  font-size: 1.4em;
  font-family: 'Quicksand', sans-serif;
}

tr > td {
  padding: 15px;
}
table{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 50%;
}
tr{
  width: 100%;
}
tr:nth-child(even) {
  background: #777; 
  color: white; 
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: rgb(179, 24, 24);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* //////////////////////New form style ///////////////////////////*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 10px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid, select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #2578cc;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
.errorField{
	display: none;
  font-size: 10px;
  color: #f84242
}
button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2578cc;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/* ////////////////////////////////////////Loader////////////////////////////////// */
.overlay_upload_images{
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay_upload_content{
  position: relative;
  top: 25%;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  background-color: #fff;
}
.overlay_loader {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay_loader_content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}


.overlay_success {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay_success_content {
  position: relative;
  top: 25%;
  background-color: #fff;
  width: 200px;
  height: max-content;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  padding: 20px;
  font-size: 12px;
  border-radius: 5px;
}
/* //////////////////////////////////////////////////////////////////////// */
/* ////////////////PROFILE/////////////////////////////////////////// */

.cards-container {
  width: 100%;

  min-height: 80%;
}
.cards-results-map {
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80%;
  /* background-color: #04AA6D; */
  /* align-items: flex-start; */
}
.cards-results-map > section.horizontal-center-column{
  min-width: 300px;
}
.vertical-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.horizontal-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-start {
  align-items: flex-start;
}
.MainContent-header-second {
  width: 100%;
  min-height: 60px;
  flex-wrap: wrap;
}
.MainContent-header-second > span {
  margin: 10px;
}
.MainContent-header-second > p {
  font-size: 20px;
  font-weight: 800;

  color: #ebba6c !important;
}

.profileCard {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
}
.profileCard span {
  margin-bottom: 9px;
}
.profileCard p {
  margin-bottom: 3px;
}
.midHeadText {
  color: grey;
  font-weight: 300;
  font-size: 14px;
}
.midHeadText2 {
  color: rgb(172, 172, 172);
  font-weight: 50;
  font-size: 13px;
}
.midHeadText4 {
  color: rgb(221, 219, 219);
  font-weight: 50;
  font-size: 13px;
  padding: 4px;
}
.midHeadText3 {
  color: rgb(107, 106, 106);
  font-weight: 400;
  font-size: 14px;
}
.flex-space-betweeen {
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.profile-card-with-avater {
  padding: 8px;
  box-sizing: border-box;
  width: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: max-content;
  background-color: #ffffff;
  margin: 5px;
}
.profileImage {
  height: 40px;
  object-fit: contain;
  border-radius: 100%;
}
.modal_ {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal_1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal_content_2 {
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  height: max-content;
  background-color: #ffffff;
  width: 50%;
}
.modal_content_3 {
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  height: max-content;
  background-color: #ffffff;
  width: 50%;
  border-radius: 5px
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
}
.flex-item-left {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 50%;
}

.uploadFlexContainer{
  justify-content: center;
  padding: 30px;
  width: 300px;
  margin: auto;
}
/* .uploadFlexContainer > div {
  background-color: #fff;
  text-align: center;
  line-height: 75px;
  padding: 20px;
} */
.drop-zone{
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px #888888;
  /* width: 200px; */
  margin-top: 10px;
  height: 300px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border: 4px dashed #ddd;
}
.drop-zone--over{
  border-style: solid ;
}
.drop-zone__input{
  display: none;
}
.drop-zone__thumb{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #dddddd;
  background-size: cover;
  position: relative;
}
.drop-zone__thumb::after{
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width: 760px){
  .uploadFlexContainer{
    width: 300px;
    margin: auto;
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  .overlay_upload_content{
    width: 90%;
    top: 15%;
    margin-top: 0px;
  }
  table{
    width: 100%
  }
  #regForm{
    width: 100%
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr, caption { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-div{
    width: 100%;
  }
  
  tr { 
    border: 1px solid #ccc; 
    width: 100%;
  }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    width: 100;
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }    
}
